.main-menu {
	float: left;
	width: 192px;
}
.luminaire-content {
	float: right;
}

.main-menu ul {
	padding: 0px;
	margin: 0px;
}

.main-menu li {
	list-style-type: none;
}

.main-menu a {
	text-decoration: none;
}

.main-menu-level1  {
	height: 26px;
	padding-top: 10px;
	
	background-color: #b31c27;
}

.main-menu-level1 a {
	padding-left: 20px;
	font-size: 13px;

	font-weight: bold;
	color: #ffffff;
}

.main-menu-level2 {
	padding-left: 20px;
	padding-top: 5px;
	
	background-color: #e4e4e4;
}

.main-menu-level3 {
	padding-left: 6px;
	padding-top: 5px;
	
	background-color: #e4e4e4;
}

.main-menu-level3 a {
	color: #666666 !important;
}

.main-menu .first {
	padding-top: 10px;
}

.main-menu .last {
	padding-bottom: 10px;
}

.main-menu .selected {
	background-color: #c0c0c0;
}

.main-menu .selected  li {
	background-color: #c0c0c0;
}

.main-menu .selected  a{
	color: #b31c27;
}

.main-menu-level2 a {
	font-size: 11px;

	color: #666666;
}

.comercial {
	width: 192px;
	height: 149px;
	margin-top: 12px;
	
	background-image: url(../../../resources/theme/images/luminaire/whatsnew.jpg);
}

.comercial p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 11px;
	padding-left: 10px;
}

.comercial .comercial_take_a_look {
	padding-top: 14px;
}

.comercial .whats_new {
	padding-top: 3px;
	font-size: 16px;
	font-weight: bold;
}

.comercial .click_here {
	padding-top: 3px;
	padding-left: 59px;
}

.luminaire-content {
	width: 768px;
}

.luminaire-content-header {
	height: 114px;
	padding-left: 30px;
	padding-right: 275px;
	
	background-image: url(../../../resources/theme/images/luminaire/luminaire_main_header.jpg);	
}

.luminaire-content-header .get_started {
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 5px;
	
	color: #ffffff;
}

.luminaire-content-header-line {
	height: 1px;
	width: 447px;
	background-repeat: no-repeat;
	background-position: center;
	
	background-image: url(../../../resources/theme/images/luminaire/luminaire_main_header_line.jpg);	
}

.luminaire-content-header .or {
	padding-top: 5px;
	font-size: 15px;
	
	color: #cccccc;
}

.luminaire-content .content {
	min-height: 500px;
	padding-left: 23px;
	background-repeat: no-repeat;
	background-position: right -47px;

	background-image: url(../../../resources/theme/images/luminaire/light.jpg);	
}

.luminaire-content .content p {
	margin: 0px;
}

.luminaire-content .content-title {
	font-size: 17px;
	padding-top: 46px;
	padding-bottom: 26px;
	
	font-weight: bold;
	color: #b31c27;
}

.luminaire-content .p-title {
	font-size: 14px;
	
	font-weight: bold;
	text-decoration: underline;
	color: #333333;
}

.luminaire-content .p-content {
	padding-top: 10px;
	padding-bottom: 23px;
	
	color: #333333;
}

.luminaire-content select {
	margin-top: 10px;
}

.luminaire-content .content-youtube {
	width: 330px;
	height: 250px;
	background-image: url(../../../resources/theme/images/luminaire/content-youtube.jpg);	
}
