<IfModule mod_rewrite.c> 
  RewriteEngine on
  RewriteRule ^resources/(.*)$ ../../resources/$1 [L]
  RewriteRule ^/resources/(.*)$ ../../resources/$1 [L]
  RewriteRule ^./resources/(.*)$ ../../resources/$1 [L]
</IfModule>


