.sortable-style {
    list-style:none;
    margin:0;
    padding:0;
}
.sortable-style ul {
    list-style:none;
    margin:0;
    padding:0 0 0 20px;
}

.sortable-style li {
    
}
.sortable-style li .handle {
    padding:10px;
    margin:1px 0;
    display:block;
    background:#fff;
    border-radius:3px;
    border:1px solid #eee;
}

.sortable-style li.ui-sortable-placeholder {
    visibility:visible !important;
/*    padding:10px;*/
    margin:1px 0;
    display:block;
    background:transparent;
    border-radius:3px;
    border:1px dashed #eee;
    /*
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;*/
}